#main {
    font-size: 5em;
}

#mainBlock {
    text-align: center;
}

#secondDown {
    text-align: center;
}

#secondary {
    font-size: 5em;
}

#buttonDiv {
    margin-top: 15em;
    text-align: center;
}

#advance {
    font-size: 5em;
}